{% extends 'headerPage.html' %}

{% block content%}


<div style="background-image: url('img_girl.jpg');">
 
    </div>
    <h1 style="color: white;">Uplaod Image for Classification</h1>

    
    <br>
   
    <form method="post" enctype="multipart/form-data" action="predictImage">
  
 {% csrf_token %}
 <div style="color: white;" class="col-md-4 col-sm-4"><label for="fname">Upload Image File Here:</label> </div> <input name="filePath" type="file"><br><br>
 <br>

 
 <input type="submit" value="Submit" style="background-color:black ;color: white;" ></div>
<br>

<h1 style="color: white;">The Number on  Numberplate is  {{final_string}}</h1>
 <br>
 <br>
 <br>
 <br>
 <br>



</form>
<br>


{% endblock %}